* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f2f2f2;
    font-family: 'Handlee', cursive !important;    
    font-size: 18px !important;
    padding-top: 55px;
}

header {
    background: #4357ad;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.menu {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.menu .logo {
    display: inline-block;
    margin-right: 5em;
}

.menu .logo #btn-inicio {
    font-family: 'PlaylistScript', cursive;
    font-size: 26px;
    text-decoration: none;
    color: whitesmoke;
    font-weight: 0;
}

.menu .btn-menu {
    display: none;
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}

.menu .logo:hover {
    background: #4357ad;
}

.menu .enlaces {
    display: inline-block;
    text-align: right;
}

.menu .enlaces a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 1em;
    text-align: center;
    font-size: 1em;
}

.menu .enlaces i {
    margin-right: 1px;
}

.menu .enlaces a:hover {
    background: #f2f2f2;
    color: #4357ad;
}

main {
    width: 90%;
    max-width: 1070px;
    margin: 0px auto;
    background: rgba(247, 250, 250, 0.75);
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75);
}

main #img1 {
    width: 100%;
    height: auto;
}

h1 {
    text-align: center;
    margin-top: 0 !important;
    /* font-size: 60px !important; */
}

.form-control {
    z-index: 0 !important;    
}

.hidden {
  display: none;
}


.novedades-bkg {
    height: 100%;
    width: 100%;
    background-image: url("../img/fondo2.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contacto-bkg {
    height: 100%;
    width: 100%;
    background-image: url("../img/fondo1.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax {
    height: 100%;
    width: 100%;
    background-image: url("../img/fondo1.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    height: 100%;
    width: 100%;
    background-image: url("../img/fondo2.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Footer */
footer {
    width: 100%;
    height: 200px auto;
    background: #4357ad;
}

.info-bambu {
    padding-top: 20px;
    color: white;
    text-align: center;
}

.info-bambu ul li {
    list-style: none;
    color: white;
}

#mail {
    color: white;
    text-decoration: none;
}

#mail:hover {
    color: black;
}

.redes-sociales {
    color: white;
    padding-top: 20px;
    text-align: center;
}

#fila-redes {
    display: inline;
    text-align: center;
}

#fila-redes a {
    color: white;
    font-size: 36px;
    margin-right: 5px;
}

.localizacion {
    padding-top: 20px;
}

/* Efectos del menu */
.headroom {
    transition: transform .3s ease;
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--unpinned {
    transform: translateY(-100%);
}

/* Media queries */
@media screen and (max-width: 910px) {
    header .menu {
        flex-direction: column;
    }

    header .menu .logo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 1em;
    }

    header .menu .logo .btn-menu {
        display: inline-block;
        margin-top: 8px;
    }

    header .menu .enlaces {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .menu .logo {
        display: inline-block;
        margin-left: 45px;
    }

    #btn-mini-club, 
    #btn-actividades, 
    #btn-adultos {
        display: none;
    }

    #first-icon {
        margin-left: 0;
    }
}

 @media screen and (max-width: 480px) {
    .menu .logo {
        display: inline-block;
        margin-left: 45px;
    }
} 

/* Fuente Playlist Script */
@font-face {
    font-family: PlaylistScript;
    src: url(../fonts/PlaylistScript.otf);
}