<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Bambú - Arte y Recreación</title>
</head>
<body class="bkgHorarios">
    <header id="header">
        <nav class="menu">
            <div class="logo">
                <a id="btn-inicio" href="../index.html">Bambú</a>
                <a href="#" class="btn-menu" id="btn-menu"><i class="icono fa fa-bars" aria-hidden="true"></i></a>
            </div>

            <div class="enlaces" id="enlaces">
                <a id="btn-inicio" href="../index.html"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>
                <a id="btn-novedades" href="novedades.html"><i class="fa fa-star" aria-hidden="true"></i> Novedades</a>
                <a id="btn-horarios" href="horarios.html"><i class="fa fa-calendar" aria-hidden="true"></i> Horarios</a>
                <!-- <a id="btn-galeria" href="templates/galeria.html"><i class="fa fa-camera-retro" aria-hidden="true"></i> Galería</a> -->
                <!-- <a id="btn-equipo" href="templates/equipo.html"><i class="fa fa-users" aria-hidden="true"></i> Equipo</a> -->
                <a id="btn-contacto" href="contacto.html"><i class="fa fa-map-marker" aria-hidden="true"></i> Contacto</a>
            </div>
        </nav>
    </header> 
    <br><br>

    <div class="container">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a id="bambu" href="#salonBambu" aria-controls="salonBambu" role="tab" data-toggle="tab">Salón Bambú</a></li>
            <li role="presentation"><a id="pasionaria" href="#salonPasionaria" aria-controls="salonPasionaria" role="tab" data-toggle="tab">Salón Pasionaria</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="salonBambu">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <td>Lunes</td>
                                <td>Martes</td>
                                <td>Miércoles</td>
                                <td>Jueves</td>
                                <td>Viernes</td>
                                <td>Sábado</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>--</td>
                                <td style="color: blue">YOGA <br><small>8.00 a 9.15</small></td>
                                <td style="color: red">STRECHING <br><small>9.00 a 10.00</small></td>
                                <td style="color: blue">YOGA <br><small>8.00 a 9.15</small></td>
                                <td style="color: red">STRECHING <br><small>9.00 a 10.00</small></td>
                                <td style="color: blue">YOGA DINAMICO <br><small>8.00 a 9.15</small></td>
                            </tr>
                            <tr>
                                <td>--</td>
                                <td style="color: blue">YOGA <br><small>9.30 a 11.45</small></td>                                    
                                <td style="color: brown">PILATES MAT <br><small>10.00 a 11.00</small></td>
                                <td style="color: blue">YOGA <br><small>9.30 a 11.45</small></td>
                                <td style="color: red">STRECHING <br><small>10.00 a 11.00</small></td>
                                <td>--</td>                                
                            </tr>
                            <tr>
                                <td style="color: green">MINI CLUB <br><small>14.30 a 17.00 <br><i>(de 2 a 5 años)</i></small></td>
                                <td style="color: black">JUEGO CON LA DANZA <br><small>16.00 a 17.00 <br><i>(de 4 a 6 años)</i></small></td>
                                <td style="color: green">MINI CLUB <br><small>14.30 a 17.00 <br><i>(de 2 a 5 años)</i></small></td>
                                <td style="color: black">JUEGO CON LA DANZA <br><small>16.00 a 17.00 <br><i>(de 4 a 6 años)</i></small></td>
                                <td style="color: green">MINI CLUB <br><small>14.30 a 17.00 <br><i>(de 2 a 5 años)</i></small></td>
                                <td>--</td>                                                                
                            </tr>
                            <tr>
                                <td style="color: darkblue">JUEGO EXPRESIVO <br><small>17.30 a 18.30 <br><i>(de 6 a 10 años)</i></small></td>
                                <td style="color:rgb(250, 89, 89)">COREOGRAFIA <br><small>17.00 a 18.00 <br><i>(de 6 a 12 años)</i></small></td>
                                <td style="color: darkblue">JUEGO EXPRESIVO <br><small>17.30 a 18.30 <br><i>(de 6 a 10 años)</i></small></td>
                                <td style="color: rgb(250, 89, 89)">COREOGRAFIA <br><small>17.00 a 18.00 <br><i>(de 6 a 12 años)</i></small></td>
                                <td>--</td>
                                <td>--</td>                                                                                                
                            </tr>
                            <tr>
                                <td style="color: blue">YOGA <br><small>19.00 a 20.15</small></td>
                                <td style="color:rgb(88, 112, 245)">DANZA CONTEMPORANEA <br><small>18.00 a 19.15</small></td>
                                <td style="color: blue">YOGA <br><small>19.00 a 20.15</small></td>
                                <td style="color: rgb(88, 112, 245)">DANZA CONTEMPORANEA <br><small>18.00 a 19.15</small></td>
                                <td style="color: blue">YOGA NIÑOS<br><small>18.00 a 19.00</small></td>
                                <td>--</td>                                
                            </tr>
                            <tr>
                                <td>--</td>
                                <td style="color: rgb(133, 1, 126)">DANZA FLOORWORK <br><small>19.15 a 20.30</small></td>
                                <td>--</td>
                                <td>--</td>
                                <td style="color: rgb(133, 1, 126)">DANZA FLOORWORK <br><small>19.15 a 20.15</small></td>
                                <td>--</td>                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="salonPasionaria">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <td>Lunes</td>
                                <td>Martes</td>
                                <td>Miércoles</td>
                                <td>Jueves</td>
                                <td>Viernes</td>
                                <td>Sábado</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td style="color: blue">DIBUJO Y PINTURA <br><small>11.00 a 12.30</small></td>
                            </tr>
                            <tr>
                                <td>--</td>
                                <td>TALLER ARTISTICO LITERARIO <br><small>14.00 a 15.00</small></td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>                                
                            </tr>
                            <tr>
                                <td style="color: red">JUEGO CON EL ARTE <br><small>17.00 a 18.00</small></td>
                                <td>--</td>                                                                
                                <td style="color: red">JUEGO CON EL ARTE <br><small>17.00 a 18.00</small></td>
                                <td>--</td>                                                                
                                <td>--</td>                                                                
                                <td>--</td>                                                                
                            </tr>
                            <tr>
                                <td style="color: blue">DIBUJO Y PINTURA <br><small>11.00 a 12.30</small></td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>                                                                                                
                            </tr>
                            <tr>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>                                
                            </tr>
                            <tr>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <div class="info-bambu">
                        <h3>Info:</h3>
                        <ul> 
                            <li><i class="fa fa-address-book" aria-hidden="true"></i> Dirección: 3 de Febrero 3027, San Andrés</li>
                            <li><i class="fa fa-phone" aria-hidden="true"></i> Teléfono: 4755-7417</li>
                            <li><i class="fa fa-envelope" aria-hidden="true"></i> Mail:<a id="mail" href="mailto:bambuarteymovimiento@gmail.com.ar"> bambuarteymovimiento@gmail.com.ar</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <div class="localizacion">
                        <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.4580739863636!2d-58.53977188514889!3d-34.56727418046893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb76955fc00bd%3A0xed94c036466cb3df!2s3+de+Febrero+3027%2C+San+Andres%2C+Buenos+Aires!5e0!3m2!1ses-419!2sar!4v1508128907693" width="100%" height="150px" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <div class="redes-sociales">
                        <h3 class="text-center">Puedes encontrarnos en:</h3>
                        <div id="fila-redes">
                            <a href="https://www.facebook.com/Bamb%C3%BA-491908791206960" id="first-icon"><i class="fa fa-facebook-square"></i></a>
                            <!-- <a href="#"><i class="fa fa-twitter-square"></i></a> -->
                            <a href="https://www.instagram.com/bambu.arteymovimiento/?hl=es-la" target="_blank"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../js/headroom.min.js"></script>
    <script src="../js/menu.js"></script>
    <script src="../js/scroll-menu.js"></script>
</body>
</html>