<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    <title>Bambú - Arte y Recreación</title>
</head>
<body class="novedades-bkg">
    <header id="header">
        <nav class="menu">
            <div class="logo">
                <a id="btn-inicio" href="../index.html">Bambú</a>
                <a href="#" class="btn-menu" id="btn-menu"><i class="icono fa fa-bars" aria-hidden="true"></i></a>
            </div>
            <div class="enlaces" id="enlaces">
                <a id="btn-inicio" href="../index.html"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>
                <a id="btn-novedades" href="novedades.html"><i class="fa fa-star" aria-hidden="true"></i> Novedades</a>
                <!-- <a id="btn-galeria" href="templates/galeria.html"><i class="fa fa-camera-retro" aria-hidden="true"></i> Galería</a> -->
                <!-- <a id="btn-equipo" href="templates/equipo.html"><i class="fa fa-users" aria-hidden="true"></i> Equipo</a> -->
                <a id="btn-contacto" href="contacto.html"><i class="fa fa-map-marker" aria-hidden="true"></i> Contacto</a>
            </div>
        </nav>
    </header> 
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-xs-12">
                <div id="fb-root"></div>
                <!-- <div class="fb-page" data-href="https://www.facebook.com/Bamb%C3%BA-491908791206960" data-tabs="timeline,events" data-width="400" data-height="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Bamb%C3%BA-491908791206960" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Bamb%C3%BA-491908791206960">Bambú</a></blockquote></div> -->
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FBamb%25C3%25BA-491908791206960&tabs=timeline%2Cevents&width=400&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="400" height="500" style="border:none;" frameborder="0" allowTransparency="true"></iframe>
            </div>
            <div class="col-lg-7 col-md-7 col-xs-12">
                <main style="align-items:center;">
                    <h1>Bambú Novedades!</h1>
                    <h3 class="text-center">Apertura e Inauguración</h3>
                    <p>
                        <h3 class="text-center">
                            Abriremos nuestras puertas al público el día 05 de Marzo e 
                            inauguraremos Bambú el día 10 de Marzo                     
                        </h3>
                    </p>
                    <img src="../img/open.jpg" height="291px" width="100%" alt="">
                </main>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="panel panel-primary" style="opacity: 0.9;">
                    <div class="panel-body">
                        <p>
                            <h2><i class="fa fa-instagram"></i> Instagram - <small>observá nuestras actividades</small></h2>
                        </p>                            
                        <iframe src="http://lightwidget.com/widgets/9ba041f9328d52e1a3263492fa93a852.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <div class="info-bambu">
                        <h3>Info:</h3>
                        <ul> 
                            <li><i class="fa fa-address-book" aria-hidden="true"></i> Dirección: 3 de Febrero 3027, San Andrés</li>
                            <li><i class="fa fa-phone" aria-hidden="true"></i> Teléfono: 4755-7417</li>
                            <li><i class="fa fa-envelope" aria-hidden="true"></i> Mail:<a id="mail" href="mailto:bambuarteymovimiento@gmail.com.ar"> bambuarteymovimiento@gmail.com.ar</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <div class="localizacion">
                        <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.4580739863636!2d-58.53977188514889!3d-34.56727418046893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb76955fc00bd%3A0xed94c036466cb3df!2s3+de+Febrero+3027%2C+San+Andres%2C+Buenos+Aires!5e0!3m2!1ses-419!2sar!4v1508128907693" width="100%" height="150px" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <div class="redes-sociales">
                        <h3 class="text-center">Puedes encontrarnos en:</h3>
                        <div id="fila-redes">
                            <a href="#" id="first-icon"><i class="fa fa-facebook-square"></i></a>
                            <!-- <a href="#"><i class="fa fa-twitter-square"></i></a> -->
                            <a href="https://www.instagram.com/bambu.arteymovimiento/?hl=es-la" target="_blank"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../js/headroom.min.js"></script>
    <script src="../js/menu.js"></script>
    <script src="../js/scroll-menu.js"></script>
    <script src="http://lightwidget.com/widgets/lightwidget.js"></script>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.12';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
</body>
</html>